@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


:root {
  --hue: 207;
  --sat: 90%;
  --lig: 61%;
  --color-titulo: hsl(207, 12%, 95%);
  --color-text: hsl(207, 12%, 75%);
  --body-bg: hsl(207, 40%, 8%);
  --content-bg: hsl(207, 24%, 12%);
  --btn-color: hsl(207, 90%, 61%);
  --shadown-textarea: inset 0 1px 2px rgba(0, 0, 0, 0.39),
    0 -1px 1px var(--body-bg), 0 1px 0 var(--body-bg);
  --shadown-btn: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", Sans-Serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: var(--body-bg);
  transition: 0.3s;
}

.container {
  background: var(--content-bg);
  padding: 15px;
  width: 350px;
  border: none;
  backdrop-filter: blur (10px);
  border-radius: 15px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  transition: 0.3s;
}

.container h2 {
  margin-top: 5%;
  text-align: center;
  color: var(--color-titulo);
}

.encriptar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em auto;
  gap: 10px;
}

.btnDelete {
  position: absolute;
  color: white;
  background-color: var(--btn-color);
  font-size: 15px;
  top: 0.4rem;
  right: 2em;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), 0.25);
  cursor: pointer;
}

.alerta p {
  color: var(--color-text);
  font-size: 0.82rem;
}

.alerta i {
  padding-right: 0.5em;
  color: var(--btn-color);
}

.desencriptar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.textarea {
  width: 86%;
  height: 150px;
  padding: 12px 20px;
  color: var(--color-text);
  text-transform: lowercase;
  box-sizing: border-box;
  border: 1.5px var(--body-bg) solid;
  border-radius: 4px;
  background-color: var(--body-bg);
  box-shadow: var(--shadown-textarea);
  resize: none;
}

.textarea:focus {
  outline: none;
}

.uno {
  position: relative;
  height: 100px;
}

.btnCopy {
  position: absolute;
  color: var(--color-titulo);
  background-color: var(--btn-color);
  font-size: 15px;
  top: 0.4rem;
  right: 2em;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), 0.25);
  cursor: pointer;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 20px;
}

.btn-container button {
  width: 9rem;
  height: 2.5em;
  background-color: var(--btn-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--color-titulo);
  box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), 0.25);
  font-weight: 500;
}

.btn-container i {
  padding-right: 0.4em;
}

.btn-container button:nth-child(2) {
  background-color: transparent;
  color: var(--color-text);
  border: 1px solid #999;
  box-shadow: none;
}

.creditos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 10px;
}

.creditos i,
a {
  text-decoration: none;
  font-size: 20px;
  color: var(--color-text);
}
